input {
  padding: 12px;
  outline: none;
  border: 1px solid lightgrey;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 6px;
  transition: border-color 0.2s;

  &.input-error {
    border-color: #e05252;
  }
}

.error-message {
  font-size: 13px;
  color: #e05252;
  margin-bottom: 10px;
  padding-left: 2px;
}
