/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #766ae1;
  --add-color: #55a194;
}

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efececc3;
}
